.about-grid {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1.9fr 0.1fr;
    grid-template-areas:
    ".";
  }
  .illustration {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    display: flex;
  }
  .expand-mobile-menu {
    display: none;
  }
}


.about {
    padding: 10%;
}

.illustration {
  height: fit-content;
    img {
        width: 30vw;
        position: absolute;
        bottom: 0;
    }
}
