<div class="about-grid">
    <div class="about">
        <h1><u>WH</u>O AM I?</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque veniam eaque deserunt est, qui doloribus quod ipsa debitis laboriosam ad. Quo corrupti odit consectetur alias maxime necessitatibus fuga eos repellat!
        </p>
    </div>
    <div class="illustration">
        <img src="assets/vapor_car.png" alt="">
    </div>
</div>