@media screen and (max-width: 1024px) {
  nav[platform="pc"] {
    display: none;
  }
  nav[platform="mobile"] {
    display: block;
  }
  .expand-mobile-menu {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  nav[platform="pc"] {
    display: flex;
  }
  .expand-mobile-menu {
    display: none;
  }

  nav[platform="pc"]{
    width: 100vw;
    height: 90px;
    justify-content: center;
    align-items: flex-end;

    ul{
        display: flex;
        padding: 0 20%;
        justify-content: space-between;
        list-style: none;
        flex: 1;
    }
    a{
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        letter-spacing: 5px;

        &.active {
            border: solid 2px #fff;
            border-radius: 50px;
            padding: 9px 20px;
            text-align: center;
        }
    }
}

}

  nav[platform="mobile"] {
    .background {
      background-color: #692ED9;
      color: #d125e6;
      transition: transform 0.25s, border-radius 0.25s;
      transform: translate(0, 100%);
      border-radius: 35%;
    }
    .menu-logo{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      padding-top: 2vh;
      height: 5vh;

      img {
        width: 42px;
      }
      .text{
        color: #fff !important;
        text-transform: uppercase;
      }
    }

    .close-menu-button-container {
      display: flex;
      width: 100vw;
      height: 13vh;
      justify-content: center;
      align-items: center;
      font-size: xx-large;
    }
    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 5vh;
      align-items: center;
      list-style: none;
      // box-shadow: inset 0px -20px 20px 0px rgb(0 0 0 / 7%);
      overflow: auto;
      height: 80vh;
      justify-content: center;
      margin: 0;
    }
    a {
      border-radius: 1em;
      color: #d125e6;
      text-decoration: none;
      margin: 1em;
    }
  }

  nav[platform="mobile"][active="true"] {
    .background{
      transform: translate(0, 0);
      border-radius: 0%;
    }
  }

.expand-mobile-menu {
  position: fixed;
  bottom: 7vh;
  background: linear-gradient(126deg, #d125e6 0%, #2549e6 50%, #d125e6 100%);
  padding: 1em;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: #fff;
  box-shadow: 1px 1px 20px 20px rgb(255 255 255 / 8%);
}
