.gradient-background{
    background: rgba(37,73,230,1);
    background: linear-gradient(126deg, rgba(209,37,230,1) 0%, rgba(37,73,230,1) 50%, rgba(209,37,230,1) 100%);
    animation: gradient 15s ease infinite;
    background-repeat: no-repeat;
  	background-size: 400% 400%;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 5;
}

.big-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
    text-transform: uppercase;
    flex-direction: column;

    div {
      display: flex;
      gap: 7.5rem;

      a {
        fa-icon {
          font-size: 4rem;
          color: rgba(255, 255, 255, .75);
          transition: color .25s;
        }
      }

      a:hover{
        fa-icon {
          font-size: 4rem;
          color: rgba(255, 255, 255, 1);
        }
      }
    }



}


h1 {
    font-size: 5.875rem;
    background: -webkit-linear-gradient(#fff, #fff, rgba(37, 73, 230, 0),);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 2.5rem;
    font-weight: 100;
  }

//   animations

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
