    <!-- hero -->
    <div class="big-hero">
        <h1 class="gradient-text">Silvan Paul</h1>
        <div>
            <a href="https://open.spotify.com/artist/1IGC1XkAcMKjvos46mbJ06?si=7m1XVwnLTS-b88RoyQ-tIA&dl_branch=1" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab','spotify']"></fa-icon></a>
            <a href="https://soundcloud.com/dj-slyvan" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab','soundcloud']"></fa-icon></a>
            <a href="https://bitbucket.org/Slyvan25/" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab','bitbucket']"></fa-icon></a>
            <a href="https://github.com/Slyvan25" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab','github']"></fa-icon></a>
            <a href="https://www.twitch.tv/slyvan" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab','twitch']"></fa-icon></a>
            <a href="https://www.linkedin.com/in/silvan-paul-b7091283/" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab','linkedin']"></fa-icon></a>
        </div>
    </div>
